@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');
@font-face {
    font-family: actionman;
    src: url(../fonts/actionman.otf);
}

html {
    font-family: actionman;
    position: relative;
    text-transform: uppercase;
    color: #e1f5fc;
    transition: all 2s linear 1s;
    overflow-x: hidden;
}

.ravi {
    font-family: 'Ravi Prakash', cursive;
}

#landing {
    position: fixed;
    z-index: +3;
    opacity: 1.0;
}

.scroll {
    height: 100px;
}

h1 {
    font-family: 'Ravi Prakash', cursive;
    font-size: 48pt;
    color: #fcc2a1;
}

h2 {
    display: inline-block;
    font-family: 'Ravi Prakash', cursive;
    font-size: 36pt;
}

h3 {
    font-family: 'Ravi Prakash', cursive;
    font-size: 24pt;
    display: inline-block;
    margin-left: 50px;
}

h4 {
    font-family: 'Ravi Prakash', cursive;
    font-size: 21pt;
    margin-left: 100px;
}

#landing h1 {
    color: #e0f5fc;
    font-family: actionman;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 80px;
    padding-left: 8%;
    padding-right: 8%;
}

.sound {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #e1f5fc;
    z-index: +100;
}

.scroll-down {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e1f5fc;
    color: black;
    font-size: 24px;
    padding: 10px;
}

.arrow-down {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 20px solid #e1f5fc;
}

.backstage {
    background-color: #efe8d4;
    bottom: -100px;
    opacity: 0;
}

.backstage .arrow-down {
    background-color: transparent;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-top: 20px solid #efe8d4;
    bottom: -20px!important;
}

blockquote {
    float: right;
    font-size: 30px;
    display: block;
    width: 50vw;
    color: #495a96;
    background: #e0f5fc;
    border-left: 10px solid #9fa8c9;
    padding: 0.5em 10px;
}

.colori {
    height: 250px;
    width: 20%;
    float: left;
}

.coluno {
    background-color: #9fa8c9;
}

.coldue {
    background-color: #495a96;
}

.coltre {
    background-color: #e0f5fc;
}

.colquattro {
    background-color: #fcc2a1;
}

.colcinque {
    background-color: #c9a89f;
}

.pers {
    height: 65vh;
    width: 30%;
    float: left;
    margin-right: 3.3%;
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
}

.progr {
    background-color: #9f9f9f;
    background-image: none;
    position: relative;
}

.progr h1 {
    color: #495a96;
    color: #495a96;
}

video {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 74%;
}

.progr img {
    width: 10%;
    margin-right: 2.8%;
}

.progr img:last-of-type {
    margin-right: 0;
}

.persuno {
    background-image: url(../img/pers/00nip.png);
}

.persdue {
    background-image: url(../img/pers/01fig.gif);
}

.perstre {
    background-image: url(../img/pers/02pad.gif);
}

.storiaend {
    height: 28350px;
}

article {
    margin-left: 60px;
    background-color: black;
    float: left;
    height: 720px;
    width: 60vw;
    background-repeat: no-repeat;
    position: relative;
}

#storia {
    background-image: none;
    background-color: black;
    z-index: +1;
    min-width: 405vw;
    top: 0;
    left: 0;
}

h6 {
    color: black;
    font-size: 30pt;
    padding-top: 5px;
}

p {
    color: black;
    font-size: 14pt;
    position: absolute;
}

#uno {
    background-color: #101b2f;
    background-image: url(../img/001.png);
}

#uno p {
    top: 10px;
    left: 120px;
    height: 55px;
    width: 80%;
}

#uno h6 {
    padding-left: 10px;
}

#uno .dialog {
    opacity: 0;
    height: 55px;
    width: 60%;
}

.dialog {
    background-color: #efe8d4;
    position: relative;
    opacity: 0;
}

#uno .down-right {
    opacity: 0;
    height: 75px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#uno .down-right p {
    width: 100%;
    left: 15px;
}

#duea {
    width: 30vw;
    opacity: 1;
}

.duea {
    width: 30vw;
    height: 720px;
    background-image: url(../img/002.png);
    opacity: 0;
    position: absolute;
}

#duea .dialog {
    height: 150px;
}

#duea p {
    padding-top: 15px;
    margin-left: 115px;
    position: static;
}

#duea h6 {
    margin-left: 115px;
    position: static;
}

#portrait {
    height: 190px;
    width: 190px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    background-image: url(../img/002.png);
    background-position: 2% 47%;
}

#dueb {
    opacity: 1;
    width: 30vw;
}

.dueb {
    width: 30vw;
    height: 720px;
    background-image: url(../img/002.png);
    background-position: right;
    opacity: 0;
    position: absolute;
}

#dueb .dialog {
    height: 150px;
}

#dueb p {
    padding-left: 25px;
    margin-right: 115px;
    padding-top: 15px;
    position: static;
}

#dueb h6 {
    padding-left: 25px;
    position: static;
}

#tre {
    opacity: 1;
}

.tre {
    height: 720px;
    background-image: url(../img/003.png);
    opacity: 0;
    position: absolute;
    width: 60vw;
}

#tre .dialog {
    height: 55px;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tre p {
    top: 9px;
    left: 20px;
}

#quattro {
    opacity: 1;
    width: 30vw;
}

.quattro {
    height: 720px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../img/004.png);
    opacity: 0;
    position: absolute;
    width: 30vw;
}

#cinque {
    opacity: 1;
    margin-top: 100px;
    height: 620px;
}

.cinque {
    height: 620px;
    background-image: url(../img/005.png);
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 100;
    width: 60vw;
}

#cinque .dialog {
    height: 55px;
    width: 60%;
}

#cinque p {
    top: 9px;
    left: 20px;
}

#sei {
    opacity: 1;
    height: 620px;
    width: 30vw;
}

.sei {
    height: 620px;
    background-image: url(../img/006.png);
    background-position: bottom center;
    background-size: 150%;
    opacity: 0;
    position: absolute;
    width: 30vw;
}

#sei p {
    top: 15px;
    left: 20px;
    right: 20px;
}

#sei .dialog {
    height: 70px;
}

#sei .down-right {
    height: 150px;
    width: 105%;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

#sei h6 {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
}

#sette {
    opacity: 1;
    background-position: bottom center;
    height: 550px;
}

.sette {
    opacity: 0;
    background-image: url(../img/007.png);
    background-size: cover;
    background-position: bottom center;
    height: 550px;
    position: absolute;
    width: 60vw;
}

#sette p {
    top: 9px;
    left: 20px;
    right: 20px;
}

#sette .dialog {
    height: 55px;
    width: 60%;
}

.ellisse {
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 50px;
    top: 30%;
    left: 50%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia {
    position: absolute;
    bottom: -70px;
    left: -20px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 200px solid #efe8d4;
    z-index: -3;
    transform: rotate(60deg);
}

.ellisse2 {
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 50px;
    top: 37%;
    right: 50%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia2 {
    position: absolute;
    bottom: -70px;
    right: -20px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 200px solid #efe8d4;
    z-index: -3;
    transform: rotate(-60deg);
}

.ellisse3 {
    font-size: 21pt;
    width: 350px;
    height: 200px;
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 45px;
    top: 25%;
    right: 85%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia3 {
    position: absolute;
    bottom: -70px;
    right: -20px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 200px solid #efe8d4;
    z-index: -3;
    transform: rotate(-60deg);
}

.ellisse4 {
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 40px;
    width: 250px;
    top: 15%;
    left: 26%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia4 {
    position: absolute;
    bottom: -40px;
    left: 25px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 150px solid #efe8d4;
    z-index: -3;
    transform: rotate(45deg);
}

.ellisse5 {
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 40px;
    width: 250px;
    top: 25%;
    right: 28%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia5 {
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 150px solid #efe8d4;
    z-index: -3;
    transform: rotate(-60deg);
}

.ellisse6 {
    background-color: #efe8d4;
    position: absolute;
    border-radius: 50%;
    padding: 40px;
    width: 250px;
    top: 55%;
    right: 47%;
    color: black;
    z-index: +1;
    opacity: 0;
}

.freccia6 {
    position: absolute;
    top: -50px;
    right: 80px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 150px solid #efe8d4;
    z-index: -3;
    transform: rotate(-120deg);
}